.card {
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-areas:
    "title artist"
    "picture content"
    "footer content"
    ". content";
  grid-gap: 48px 40px;
  margin-left: 148px;
  margin-right: 148px;
  margin-top: 60px;
  margin-bottom: 0;
}

.card__title {
  grid-area: title;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  max-width: 50%;
}

.card__artist {
  grid-area: artist;
  font-size: 18px;
  line-height: 22px;
  max-width: 456px;
  align-self: end;
}

.card__artist_content {
  margin: 0;
}

.card__url-heading {
  display: inline-block;
  font-size: 12px;
  line-height: 14.5px;
  letter-spacing: 1.2px;
  color: #aaaaaa;
  text-decoration: none;
  margin-bottom: 8px;
}

.card__artist-name {
  grid-area: artist;
}

.card__picture {
  grid-area: picture;
}

.card__content {
  grid-area: content;
  width: 484px;
}

.card__content_type_para1 {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
}

.card__content_type_para2 {
  margin-top: 25px;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 30px;
}

.card__content_type_para3 {
  font-size: 18px;
  line-height: 30px;
}

.card__footer {
  grid-area: footer;
  justify-self: start;
}

.card__footer-button {
  color: #ffffff; /*not inhereted from parent thats why its specified in the button */
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  border-radius: 4px;
  background-color: #0278fe;
  padding: 13px 20px 13px 20px;
}

.card__footer-button:hover {
  background-color: #0063d2;
}

@media screen and (max-width: 768px) {
  .card__content {
    width: 208px;
    /* padding-left: 28px;
    padding-right: 24px; */
  }

  .card__content_type_para1 {
    width: 208px;
    margin-left: 28px;
    margin-right: 24px;
  }

  .card__content_type_para2 {
    width: 208px;
    margin-left: 28px;
    margin-right: 24px;
  }
}
