.cover {
  max-width: 1184px;
  min-height: 740px;
  background-image: url("../images/__background\(1\).jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  position: relative;
  margin: 92px 48px 0 48px;
}

.cover__heading {
  max-width: 656px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin-top: 0;
  margin-bottom: 0;
}

.cover__text-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.cover__text {
  max-width: 280px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: auto 0;
  justify-content: center;
}

.cover__button {
  display: block;
  background-color: #0278fe;
  color: #ffffff;
  border-radius: 4px;
  padding: 13px 20px 13px 20px;
  font-weight: 600;
  border: none;
}

.cover__button:hover {
  background-color: #0063d2;
}

.cover__button {
  text-decoration: none;
}

.cover__content {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  gap: 32px;
}

.cover::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #2a2c2f;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  transition-duration: 1s;
}

.cover:hover::before {
  opacity: 0.8;
}

@media screen and (max-width: 960px) {
  .cover {
    width: 100%;
    min-height: 746px;
  }
}

@media screen and (max-width: 600px) {
  .cover {
    width: 100%;
    min-height: 254px;
    margin: 0;
    margin-top: 64px;
  }
  .cover__content {
    gap: 16px;
    padding-bottom: 45px;
  }
  .cover__heading {
    font-size: 32px;
    line-height: 35px;

    margin: 46px auto 0 auto;
  }
  .cover__text-container {
    font-size: 14px;
    line-height: 16px;
    margin-right: 20px;
    margin-left: 20px;
  }

  .cover__button {
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    border: none;
  }
}
