.footer__copyrights {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  padding-bottom: 24px;
  padding-top: 92px;
  text-align: center;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .footer__copyrights {
    padding-top: 88px;
  }
}

@media screen and (max-width: 600px) {
  .footer__copyrights {
    padding-top: 64px;
  }
}
