.header__logo {
  width: 100%;
  max-width: 270px;
  margin-top: 85px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.header__logo-space {
  margin-left: 5.5px;
}

.header__title-container {
  margin-bottom: 32px;
  margin-top: 90px;

}

.header__title {
  font-size: 96px;
  /* line-height: 200px; */
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  text-align: center;
  color: #ffffff;
  max-width: 793px;
}

.header__subtitle {
  font-size: 30px;
  line-height: 1.2;
  padding-bottom: 64px;
  margin: 32px auto 0 auto;
  text-align: center;
  color: #ffffff;
  max-width: 720px;
}

.header__image {
  width: 80%;
  /* object-fit: contain; */
  filter: grayscale(100%);
  padding-bottom: 92px;
  margin-left: 148px;
  margin-right: 148px;
}

@media screen and (max-width: 768px) {
  .header__title {
    max-width: 720px;

    /* margin-right: auto;
    margin-left: auto;
  }

  .header__subtitle {
    max-width: 720px;
  }
} */
