.header__logo-container {
  margin-top: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__logo {
  margin-left: auto;
  margin-right: auto;
}

.header__logo-space {
  margin-left: 5.5px;
}

.header__title {
  font-family: "Inter", Arial, sans-serif;
  font-size: 6rem;
  line-height: 0.4;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: #ffffff;
}

.header__subtitle {
  font-family: "Inter", Arial, sans-serif;
  font-size: 2rem;
  line-height: 1.2;
  padding-bottom: 64px;
  margin: 0 auto 0 auto;
  text-align: center;
  color: #ffffff;
}

.header__subtitle:nth-child(2) {
  margin-bottom: 64px;
}

.header__image {
  width: 80%;
  filter: grayscale(100%);
  padding-bottom: 92px;
  margin-left: 148px;
}
