.page {
  background-color: #2a2c2f;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  color: #ffffff;
  /* width: 100%; */
  /* margin-left: 148px; */
  /* max-width: 1184px; */
  /* max-width: 1280px; */
  /* box-sizing: border-box; */
  margin: 0;
  /* display: block; */
}

.page__content {
  padding: 0;
}

@media screen and (max-width: 320px) {
  .page {
    box-sizing: border-box;
  }
}
