.photo-grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  /* margin-left: 0; */ /*waiting for explanation */
  gap: 16px;
  position: absolute;
  right: 48px;
  left: 48px;
}

.grid-item {
  max-width: 284px;
}
