.places {
  color: #ffffff;
  font-family: "Inter", Arial, sans-serif;
  margin-top: 92px;
}

@media screen and (max-width: 960px) {
  .places {
    margin-top: 88px;
  }
}

@media screen and (max-width: 600px) {
  .places {
    margin-top: 62px;
  }
}
