.places__container {
  color: #ffffff;
  font-family: "Inter", Arial, sans-serif;
  margin-top: 92px;
}

.section_type_narrow {
  width: calc(100% - 100px * 2);
  margin-left: auto;
  margin-right: auto;
}
