@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("Inter-Black.woff2?v=3.19") format("woff2"),
    url("Inter-Black.woff?v=3.19") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("Inter-Bold.woff2?v=3.19") format("woff2"),
    url("Inter-Bold.woff?v=3.19") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("Inter-Thin.woff2?v=3.19") format("woff2"),
    url("Inter-Thin.woff?v=3.19") format("woff");
}
/*TODO */
/*change when working on the main branch -- this is the right one- delete font-weight 100 and apply this: */
/* @font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("Inter-400.woff2") format("woff2"),
    url("Inter-400.woff") format("woff");
} */

 /*add the fonts folder into vendor folder along with normalize.css